button {
    background-color: blue;
}
body {
    background-color: green;
}
header {
    background-color: green;
}
button {
    background-color: blue;
}
body {
    background-color: green;
}
header {
    background-color: green;
}
